includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    # Raise gradually towards max as the codebase grows.
    level: 6
